{% extends 'base.html.twig' %}

{% block title %} Add new favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} class="active" {% endblock %}

{% block body %}
    <h2 class="page-header">Latest Favorites</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>aaaa</td>
            <td>
                <a href="/fav/details/1" class="btn btn-success">View</a>
                <a href="/fav/edit/1" class="btn btn-primary">Edit</a>
                <a href="/fav/delete/1" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>bbbb hg fg j</td>
            <td>
                <a href="/fav/details/2" class="btn btn-success">View</a>
                <a href="/fav/edit/2" class="btn btn-primary">Edit</a>
                <a href="/fav/delete/2" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>ccccc</td>
            <td>
                <a href="/fav/details/3" class="btn btn-success">View</a>
                <a href="/fav/edit/3" class="btn btn-primary">Edit</a>
                <a href="/fav/delete/3" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
