{% extends 'base.html.twig' %}

{% block title %} Add new favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} class="active" {% endblock %}

{% block body %}
    <h2 class="page-header">Add new favorite</h2>

{% endblock %}
