{% extends 'base.html.twig' %}

{% block title %} Edit favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} {% endblock %}

{% block body %}
    <h2 class="page-header">Edit favorite</h2>

{% endblock %}
