{% extends 'base.html.twig' %}

{% block title %} Edit favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} {% endblock %}

{% block body %}
    <br><br>
    <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> Back to favorites list</a>
    <h2 class="page-header">Editing favorite: {{ favorites.name }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
