{% extends 'base.html.twig' %}

{% block title %} Viewing favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} {% endblock %}

{% block body %}
    <br><br>
    <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> Back to favorites list</a>
    <h2 class="page-header">Viewing Favorite: {{ favorites.name }}</h2>
    <ul class="list-group">

        <li class="list-group-item"><strong>Description: </strong>{{ favorites.description }}</li>
        <li class="list-group-item"><strong>Date: </strong>{{ favorites.lastUpdated | date('l, d F Y H:i:s') }}</li>
    </ul>
{% endblock %}
