{% extends 'base.html.twig' %}

{% block title %} Viewing favorite {% endblock %}
{% block activeHome %} {% endblock %}
{% block activeAdd %} {% endblock %}

{% block body %}
    <br><br>
    <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> Back to favorites list</a>
    <h2 class="page-header">View Favorites</h2>

{% endblock %}
